.ImageGallery {
  display: grid;
  flex-wrap: wrap;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 16px;
  margin: 20px 20px 20px 20px;
  padding: 0;
  list-style: none;
}

.additionally {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}
.text {
  text-align: center;

  margin-top: 20px;
  font-size: 20px;
}
